<h1>Admin Page</h1>

<li><%= link_to 'New Blog Entry', new_blog_path %></li>
<br>

<li><%= link_to 'Edit Blog Entry', deleteable_path %></li>
<br>
<li><%= link_to 'New Link', new_website_path%></li>
<br>
<li><%= link_to 'Edit Link', edit_link_path%></li>
